*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    width: 100%;
    height: 686px;
    font-family: "Inter", sans-serif;
}

.footer-logo{
    display: none;
}

.footer-links{
    width: 100%;
    padding: 50px 100px;
    color: #2A2523;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.footer-links ul{
    padding: 0;
    margin: 0;
}

.footer-links ul li{
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-links ul li:hover{
    transform: translateX(10px);
}

.copyright-div{
    width: 100%;
    padding: 32px 100px;
    color: #2A2523;
    font-size: 16px;
    line-height: 25.6px;
}

/* Color Palette */
.color-div{
    width: 100%;
    position: relative;
}

.color-palette{
    width: 100%;
    height: 352px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.rectangle{
    /* width: 67px; */
    flex-grow: 1;
    height: 100%;
}

.color-name{
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 600;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    margin: 20px 7px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
}

.rectangle:hover .color-name{
    opacity: 1;
}

.color-logo-bg{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 232px;
    left: 97px;
}

.color-logo{
  width: 76.98px;
  height: 75.19px;
  position: absolute;
  top: 255px;
  left: 119px;
}

/* media query */
@media screen and (max-width: 1355px) {
    .footer-links{
        padding: 50px;
    }

    .footer-links ul li{
        font-size: 14px;
    }

    .copyright-div{
        padding: 32px 50px;
    }
}

@media screen and (max-width: 1190px){
    .footer-links ul li{
        font-size: 12px;
    }

    .color-name{
        margin: 10px auto;
        font-size: 10px;
    }
}

@media screen and (max-width: 900px){
    .footer{
        background-color: #fefef2;
    }

    .footer-links{
        background-color: #fefef2;
        padding: 50px 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer-links ul li{
        font-size: 14px;
    }

    .copyright-div{
        background-color: #fefef2;
        padding: 25px 20px;
        font-size: 14px;
        line-height: 22.4px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 740px){
    .color-name{
        display: none;
    }

    .color-palette{
        height: 20px;
    }

    .color-logo-bg{
        display: none;
    }

    .color-logo{
        display: none;
    }

    .footer-logo{
        display: block;
        width: 61px;
        height: 61px;
        margin: 50px 20px;
        margin-bottom: 0;
    }
}