* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro-one-sec {
    width: 100%;
    height: fit-content;
    padding: 50px 104px 100px 104px;
    color: #2A2523;
    /* border: 1px solid black; */
    background-color: #fefef2;
}

.intro-one-div{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.intro-one-content{
    width: 50%;
    padding-right: 100px;
}

.intro-one-head{
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    font-family: "Gloock", serif;
}

.intro-one-para1{
    font-size: 30px;
    line-height: 42px;
    font-weight: 500;
    font-family: "Inter", serif;
}

.intro-one-para2{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    font-family: "Inter", serif;
    margin-top: 60px;
}

.intro-one-img{
    width: 50%;
    position: relative;
}

.intro-img {
    width: 100%;
    height: 687px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(185.66deg, rgba(23, 23, 24, 0) 59.7%, rgba(23, 23, 24, 0.9) 97.72%), url(../../assets/images/compressing.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.play-svg{
    width: 61.98px;
    height: 61.98px;
    position: absolute;
    top: 590px;
    left: 30px;
}

.intro-one-span{
    font-family: "Inter", serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: #F6F5EC;
    position: absolute;
    top: 605px;
    left: 120px;
}

/* media query */
@media screen and (max-width: 1914px){
    .intro-one-content{
        padding-right: 100px;
    }
}

@media screen and (max-width: 1586px){
    .intro-one-head{
        font-size: 80px;
        line-height: 80px;
    }

    .intro-one-para1{
        font-size: 25px;
        line-height: 30px;
    }
    
    .intro-one-para2{
        font-size: 18px;
        line-height: 30px;
    }

    .play-svg{
        width: 50px;
        height: 50px;
    }

    .intro-one-span{
        left: 100px;
        top: 600px;
        font-size: 14px;
    }

}

@media screen and (max-width: 1355px){
    .intro-one-sec{
        padding: 50px 50px 100px 50px;
    }

    .intro-one-content{
        padding-right: 20px;
    }
}

@media screen and (max-width: 1233px){
    .intro-img{
        height: 500px;
    }  

    .intro-one-head{
        font-size: 60px;
        line-height: 60px;
    }   
    
    .intro-one-para1{
        font-size: 20px;
        line-height: 24px;
    }

    .intro-one-para2{
        font-size: 14px;
        line-height: 22px;
    }

    .play-svg{
        width: 50px;
        height: 50px;
        top: 430px;
    }

    .intro-one-span{
        left: 100px;
        top: 438px;
        font-size: 14px;
    }
    
}

@media screen and (max-width: 1043px) {
    .intro-img{
        height: 450px;
    }  

    .play-svg{
        width: 40px;
        height: 40px;
        top: 390px;
    }

    .intro-one-span{
        left: 80px;
        top: 410px;
        font-size: 12px;
        line-height: 0;
    }
}

@media screen and (max-width: 900px){
    .intro-one-sec{
        padding: 100px 20px;
    }

    .intro-one-div{
        margin-top: 0;
    }

    .intro-img{
        height: 360px;
    } 

    .intro-one-span{
        top: 448px;
    }

    .intro-one-head{
        font-size: 40px;
        line-height: 40px;
    }

    .intro-one-para1{
        font-size: 16px;
        line-height: 18px;
    }

    .intro-one-para2{
        font-size: 12px;
        line-height: 19px;
        margin-top: 30px;
    }

    .play-svg{
        top: 300px;
        left: 10px;
    }

    .intro-one-span{
        left: 60px;
        top: 320px; 
        font-size: 10px;
        line-height: 0;  
    }

}

@media screen and (max-width: 727px){
    .intro-one-div{
        flex-direction: column;
    }

    .intro-one-content{
        width: 100%;
    }

    .intro-one-img{
        width: 100%;
    }

    .intro-one-para1{
        font-size: 20px;
        line-height: 28px;
        margin-top: 10px;
    }

    .intro-one-para2{
        font-size: 16px;
        line-height: 25.6px;
        margin-top: 30px;
    }

    .play-svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .intro-one-span{
        position: static; 
        font-size: 13px;
        line-height: 20.8px;  
        color: #2A2523;
        margin-top: 10px;
    }
}
